#header,#footer {
    background-color: black;
    color: white;

    * {
        color: inherit;
    }

    a:hover{
        color: silver;
    }
}

#header-nav>a:first-of-type {
    font-size: 1.5em;
}

#footer a {
    color: #4183C4;
}