@keyframes move-up {
    0% {
        top: 25px;
        opacity: 1; }
    
    100% {
        top: -50px;
        opacity: 0; } 
}

._2048{
    .score-addition{
        position: absolute;
        font-size: 25px;
        line-height: 25px;
        font-weight: bold;
        z-index: 100;
        color: rgba(119, 110, 101, 0.9);
        animation: move-up 600ms ease-in;
        animation-fill-mode: both;
    }

    .score-container{
        background-color: rgb(187, 173, 160);
        border-radius: 3px;
        font-weight: 700;
        font-family:"Clear Sans", "Helvetica Neue", Arial, sans-serif;
    }

    .score-label{
        font-size: 0.9em;
        color: rgb(238, 228, 218);
    }

    .score-value{
        font-size: 1.5em;
        color: rgb(255, 255, 255);
    }

    .new-game {
        background-color: rgb(143, 122, 102);
        color: rgb(249, 246, 242);
        border-radius: 3px;
        font-weight: 700;
        font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
    }

    .game-2048{
        touch-action: none;
    }
}